{
    "extends": "airbnb-base",
    "rules": {
        "no-param-reassign":"off",
        "no-console":"off",
        "prefer-destructuring":"off",
        "import/prefer-default-export":"off"
    }
}
